.page-heading {
     color:      green;
     text-align: center;
}

.input-field {
     height: 2rem;
}

.toggle-label {
     margin-left: 0.5rem;
     font-weight: bold;
}

.custom-icon {
     font-size: 0.8rem;
}

