body {
     background-color: green;
     background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.page-heading {
     color:      green;
     text-align: center;
}

.input-field-control {
     height: 2rem;
}

.input-field-label {
     padding-left: "-12px";
     color: green;
     font-weight: bold;
}

.toggle-label {
     margin-left: 0.5rem;
     font-weight: bold;
     color: green;
}

.custom-icon {
     font-size: 0.8rem;
     color: green;
}

.custom-control-input:checked  {
     border-color: green !important;
     background-color: green !important;
 }

.title-input-field {
     height: 36px;
}

.section-title {
     color: green;
     font-size: 24px;
     font-weight: bold;
}